<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Blog</title>
    <link href="/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-[#F9F7F7] h-[100vh] w-[100vw] overflow-x-hidden px-2">


    <form action="/" method="POST">
        <div class=" w-full h-full flex justify-end ">
            <div class="buttons mt-4 w-auto flex    gap-2 mr-2">
                <button type="submit"
                    class="text-xl bg-[#FFC94A] text-[#fff] h-10 w-20 px-2 py-1 rounded-lg  md:text-2xl md:w-24 md:px-3">Save</button>
                <a href="/" class="text-xl bg-[#3F72AF] text-white h-10 w-20 px-2 py-1 rounded-lg md:text-2xl md:w-24 md:px-3">Cancel</a>
            </div>
        </div>
        <textarea placeholder="Create your Blog"
            class="w-[100%] text-2xl outline-none font-bold whitespace-break-spaces resize-none  px-2 md:text-4xl" maxlength="60"
            autofocus onkeydown="keydown(event)" name="title"></textarea>

        <textarea oninput="growheight(this)" id="blog"
            class="w-[90%] text-xl outline-none   resize-none overflow-hidden px-2 md:text-3xl" name="textcontent"></textarea>
    </form>
    <script>
        function growheight(element) {
            element.style.height = "auto";
            element.style.height = element.scrollHeight + "px";
        }
        function keydown(e) {
            if (e.key === "Enter") {
                let currentindex = document.getElementById("blog")
                currentindex.focus();

                e.preventDefault();
            }
        }
    </script>
</body>

</html>